## Ignore IDE storage directory
/.idea/

## Add www and src directory to repository, but nothing inside
/www/
!/www/.gitkeep
/src/
!/src/.gitkeep

## Ignore temporary files and directories
/tmp/
.DS_Store

## Ignore custom build properties
build.properties
